/*
  Define your resets here or use something like Normalize.css if you like
 */

html,
body{
  margin: 0;
  padding: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  position: relative
}
